* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

form {
    background-color: var(--forground-color);
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    width: 25%;
}

h1 {
    margin-bottom: .75rem;
}

div {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: .5rem;
}

input {
    background-color: var(--background-color);
    border-radius: .5rem;
    color: var(--text-color);
    outline: none;
    border: none;
    width: 100%;

    padding: .5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

input:focus {
    outline: 2px solid var(--primary);
}

button {
    text-align: center;
}